.devpage {
    display: flex;
    /* position: fixed; */
}

.dev {
    /* width: 85rem; */
    height: 300px;
    background-color: rgb(51, 51, 139);
    /* position: fixed; */
}

h1 {
    color: white;
    margin-top: 4rem;
    margin-left: 20rem;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

h4 {
    color: white;
    margin-top: 1rem;
    margin-left: 24rem;
    font-size: 18.5px;
    font-weight: 80;
}

/* .search {
    height: 2.5rem;
    width: 23rem;
    margin-top: 2rem;
    margin-left: 24rem;
    border: transparent solid 1px;
    border-color: darkgrey ;
    padding-inline: 1rem;
    border-radius: 5px;
} */

/* .button {
    margin: -2px;
    width: 9rem;
    height: 2.65rem;
    border-radius: 3px;
    color: white;
    background-color: rgb(56, 56, 231);
    cursor: pointer;
} */

.base {
    display: flex;
    padding: 2rem;
}

.title {
    flex: 3;
}

.tag {
    margin-top: 9rem;
    margin-left: 5rem;
    font-weight: 70;
    font-weight: bold;
}

.cdk {
    width: 30px;
    height: 30px;
    margin-top: 3rem;
    margin-left: 4rem;
    cursor: pointer;
}

.cdks {
    width: 30px;
    height: 30px;
    margin-left: 3.5rem;
    cursor: pointer;
}

.tf {
    width: 30px;
    height: 30px;
    margin-left: 1.8rem;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.cdk1{
    margin-left: 3rem;
    padding: 2px;
}

.cdks1 {
    margin-left: 1rem;
}

.tf1 {
    margin-left: 1rem;
}

.title1 {
    flex: 3;
}

.tag1 {
    margin-top: 9rem;
    margin-left: 5rem;
    font-weight: 70;
    font-weight: bold;
}

.type {
    width: 30px;
    height: 30px;
    margin-top: 7rem;
    margin-left: 4rem;
    cursor: pointer;
}

.py {
    width: 30px;
    height: 30px;
    margin-left: 3rem;
    cursor: pointer;
}

.jv {
    width: 30px;
    height: 30px;
    margin-left: 1.5rem;
    cursor: pointer;
}

.n {
    width: 30px;
    height: 30px;
    margin-left: 1.5rem;
    cursor: pointer;
}

a:hover {
   text-decoration: underline;
}

.type1 {
    margin-left: 3rem;
    padding: 2px;
}

.py1 {
    margin-left: 1rem;
}

.jv1 {
    margin-left: 1rem;
}

.n1 {
    margin-left: 1rem;
}

.title2 {
    flex: 3;
}

.tag2 {
    margin-top: 9rem;
    margin-left: 5rem;
    font-weight: 70;
    font-weight: bold;
}

.dd {
    width: 50px;
    height: 50px;
    margin-top: 6.2rem;
    margin-left: 4rem;
    cursor: pointer;
}

.aws {
    width: 30px;
    height: 30px;
    margin-left: 2rem;
    cursor: pointer;
}

.mdb {
    width: 30px;
    height: 30px;
    margin-left: 2.5rem;
    cursor: pointer;
}

.as {
    width: 30px;
    height: 30px;
    margin-left: 5rem;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.dd1 {
  margin-left: 3rem;
  padding: 2px;
}

.aws1 {
    margin-left: 1rem;
}

.mdb1 {
    margin-left: 1rem;
}

.as1 {
    margin-left: 1rem;
}

p {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    padding: 1rem;
    line-height: 2rem;
}